@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lato&display=swap');

/** ***************************************************************************
 * Colors
 *
 * L5R RPG header (green): #586952
 * L5R RPG "Cultural Notes" (grey/blue): #4c677c
 * L5R RPG "Rules Notes" (brownish): #83373c
 *
 * I would have much preferred the annotation coloring to be similar to
 * W. W. Norton's Annotated books, but their color is reddish/brown which is
 * too similar to the L5R RPG's "Rules Notes" coloring. The RPG's "Cultural
 * Sidebars", which match our intent, are the following grey/blue color. To
 * prevent reversed visual definitions between this resource and the official
 * books, it's best we stick to FFG's color scheme.
 */
.navbar {
  border-bottom: 2px solid #586952;
}

.navbar a {
  color: #586952 !important;
}

.annotations p {
  color: #4c677c;
}

sup.real a, .real, p.real {
  color: #83373c;
}

.permalink {
  color: #cdafb1 !important;
}

/** ***************************************************************************
 * Typography.
 *
 * The FFG L5R LCG uses:
 *   - Title                → Brushtip Texe (L5R)
 *   - Numbers              → WC Mano Negra Bta
 *   - Text                 → Segoe UI or Lao UI
 *
 * The FFG L5R web fiction uses:
 *   - Headings             → Yozakura JP Regular
 *   - Text                 → Minion Pro
 *
 * The FFG L5R RPG uses:
 *   - Header               → Linux Biolinum Bold
 *   - Headings             → Brushtip Texe (L5R)
 *   - Subheadings          → Linux Biolinum Bold
 *   - Text                 → Avenir
 *   - Sidebar headings     → Avenir
 *   - Sidebar text         → Amerigo Md BT
 *
 * We make the following tweaks in an attempt to provide an experience of
 * our own, inspired by FFG's style. We use serif for all fictional data and
 * sans-serif for real-world text.
 *   - Header               → Yozakura JP Regular
 *   - Source header        → Yozakura JP Regular
 *   - Source text          → Crimson Text (close match to Minion Pro)
 *   - Annotation text      → Crimson Text (close match to Minion Pro)
 *   - Real-world text      → Lato (close match to Avenir)
 *
 * @see https://community.fantasyflightgames.com/topic/291078-book-fonts/
 * @see https://www.reddit.com/r/l5r/comments/7huf7q/fonts_for_creating_custom_cards/
 */
@font-face {
  font-family: 'linux_biolinum_obold';
  font-style: normal;
  font-weight: normal;
  src: url('../font/linbiolinum_rb-webfont.woff2') format('woff2'),
       url('../font/linbiolinum_rb-webfont.woff') format('woff');
}

@font-face {
  font-family: 'yozakura_jpregular';
  font-style: normal;
  font-weight: normal;
  src: url('../font/yozakurajp-regular-webfont.woff2') format('woff2'),
       url('../font/yozakurajp-regular-webfont.woff') format('woff');
}

html, body {
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'yozakura_jpregular', serif;
  line-height: 1.5;
}

.navbar {
  font-family: 'linux_biolinum_obold', serif;
}

.page-title {
  font-size: 3em;
}

.sources {
  font-size: 1.5em;
}

.sources p.first {
  text-indent: 0;
}

.sources p {
  text-indent: 1.35em;
}

.annotations p {
  border-left: 2px solid;
  font-style: italic;
  padding-left: .75em;
}

sup.real a, .real, p.real {
  font-family: 'Lato', serif;
  font-style: normal;
}

p.real {
  border-left: 2px solid;
}

/** ***************************************************************************
 * Images.
 */
html, body, .navbar {
  background: url('../img/background.png') no-repeat center center fixed;
  background-size: cover;
}

/** ***************************************************************************
 * Layout.
 */
header {
  margin-bottom: 1.5rem;
  margin-top: 100px;
}

footer {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

/**
 * In-document anchors need to offset the sticky navbar.
 * @see https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
 */
a.anchor {
  display: block;
  position: relative;
  top: -75px;
}
